body{
  background-color: #ebebeb;
  width: 90%;
  margin: 0 auto;}
#content {overflow: auto;}
#nav, #content, #footer {
  margin: 1%;}
nav{
  position: fixed;
  top: -50px;
  width: 90%;
  background-color: #ffffff;
  overflow: auto;
  height: auto;
  transition: 0.5s;}
.links {
  display: inline-block;
  text-align: center;
  padding: 14px;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  font-family: "Helvetica";}
.links:hover {
  background-color: #fff67e;}
.sample-content{
  height: 150px;}
  /* Ensure proper sizing */
  * {
    box-sizing: border-box;}
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;}
  /* Create two unequal columns that sits next to each other */
  .side {
    flex: 50%;
    padding: 20px;}
  .main {
    flex: 50%;
    text-align: justify;
    padding: 20px;}
#subtitle {
  padding: 100px;}
#footer {
  padding-top: 200px;
  font-family: "Courier New";
  text-align: center;}
h1 {
  font-size: 100px;
  font-family: "Helvetica";}
h2{
  font-size: 35px;
  font-family: "Helvetica";}
h3{
  font-size: 20px;
  font-family: "Helvetica";
  text-align: center;}
h4{
  font-size: 25px;
  font-family: "Helvetica";
  text-align: left;}
p{
  font-size: 17px;
  font-family: "Courier New";}
